
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


body {
  font-family: 'Roboto Mono', monospace;
  margin: 0px;
  background-color: #9ccc65;
  text-align: center;
}

.alert {
  text-align: center;
  margin: 50px;
}

form {
  background-color: #c5e1a5;
  width: 60%;
  height: 250px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 2px;
}

input {
  margin: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
  width: 75%;
}

.log-in, .log-out, .register {
  background-color: #7cb342;
  border-radius: 50%;
  color: #f8f8f8;
  min-height: 50px;
  width: 50px;
  outline:0;
  cursor: pointer;
  padding: 1px;
  border-radius: 50px;
  box-shadow: 0 4px rgb(65, 75, 68);
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #9ccc65;
}

.log-in:active {
  background-color: #33691e;
  box-shadow: 0 3px rgb(51, 50, 50);
  transform: translateY(4px);
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
  background:none;
  color:inherit;
  border:none;
  padding:0;
  font: inherit;
  outline:0;
  border-bottom:1px solid #444; 
  cursor: pointer;
}

img {
  height: 100px;
  margin: 20px;
  border-radius: 50px; 
}

.doge {
  box-shadow: 2px 2px 4px #000000;
}

.icon {
  padding: 0px;
  margin: 0px;
  height: 30px;
  outline: 0 none;
  border-radius: 0px;
}

.miniIcon {
  padding: 0px;
  margin: 0px;
  height: 20px;
  outline: 0 none;
  border-radius: 0px;
}

button {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

a {
  color: #f1f8e9;
}

h2 {
  margin: 0px;
}

table {
  font-family: 'Roboto Mono', monospace;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

td, th {
  border: 1px solid #dcedc8;
  text-align: center;
  padding: 6px;
}

td {
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #dcedc8;
}

#map {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
 justify-content: center;
}

.bathroom {
  margin: 7px;
}

.legs {
  margin-right: 0;
}

.message {
  border-radius:0px;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.copyright {
  font-size: .8rem;
}